# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# lock file
package-lock.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
semantic
dist
jspm_packages
typings

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
